// Custom variable overrides go here
// For options, see node_modules/bootstrap/scss/_variables.scss
// examples:
// $body-bg: black;
// $body-color: white;
// $link-hover-color: grey;
// $font-family-sans-serif: "Helvetica Neue";

// Import Bootstrap styles
@import "../../node_modules/bootstrap/scss/bootstrap";

// Import partials here

.nav-link:hover {
  text-decoration: underline;
}

.jumbotron {
  // background-size: cover;
  background: #ffffff url("../img/pirate-ship.jpg") no-repeat fixed;
  background-size: 100% 100%;
  font-family:'Liu Jian Mao Cao', cursive;
  color: white;
}

h3 {
  font-family:'Liu Jian Mao Cao', cursive;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: gray;
  color: black;
  text-align: center;
}